In [1]:
import csv
import json
import pandas as pd

from pathlib import Path

In [2]:
file = Path('../Resources/Original Datasets/Airbnb Listings/listings.csv')

In [3]:
df = pd.read_csv(file)

In [4]:
df.head(15)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6,Home in San Diego · ★4.81 · 3 bedrooms · 3 bed...,29,Sara,NaN,North Hills,32.75522,-117.12873,Entire home/apt,349,10,153,2019-09-14,0.84,1,0,0,"STR-04545L, 631067"
1,29967,Bungalow in San Diego · ★4.78 · 2 bedrooms · 3...,129123,Michael,NaN,Pacific Beach,32.80751,-117.25760,Entire home/apt,286,4,93,2023-06-05,0.59,5,213,12,"STR-05218L, 645110"
2,54001,Guesthouse in La Jolla · ★4.94 · 2 bedrooms · ...,252692,Marsha,NaN,La Jolla,32.81301,-117.26856,Entire home/apt,196,3,309,2023-06-19,2.03,2,86,20,"STR-05706L, 523003"
3,62274,Guesthouse in San Diego · ★4.77 · 1 bedroom · ...,302986,Isabel,NaN,Pacific Beach,32.80583,-117.24244,Entire home/apt,99,1,804,2023-06-09,5.26,3,236,71,"STR-00821L, 520121"
4,62949,Guest suite in San Diego · ★4.86 · Studio · 1 ...,21532,Lisa,NaN,Pacific Beach,32.80621,-117.23372,Entire home/apt,114,1,963,2023-06-22,7.30,2,123,98,"STR-06358L, 62086"
5,75668,Condo in San Diego · ★4.83 · 1 bedroom · 1 bed...,401936,Johnathon,NaN,North Hills,32.74699,-117.14243,Private room,45,31,198,2022-11-26,1.36,2,115,3,NaN
6,79300,Condo in San Diego · ★4.81 · 1 bedroom · 1 bed...,401936,Johnathon,NaN,North Hills,32.74715,-117.14280,Private room,50,31,162,2022-12-13,1.09,2,137,2,NaN
7,103417,Home in La Jolla · ★4.93 · 1 bedroom · 1 bed ...,252692,Marsha,NaN,La Jolla,32.81321,-117.26853,Private room,98,30,250,2023-06-04,1.73,2,22,18,NaN
8,103720,Bed and breakfast in San Diego · ★4.96 · 1 bed...,507423,Ann,NaN,Midtown,32.74779,-117.16480,Entire home/apt,203,1,89,2023-05-06,0.61,8,144,6,Exempt
9,103841,Townhouse in San Diego · ★4.97 · 1 bedroom · 1...,541128,Florence,NaN,North City,32.95948,-117.23468,Private room,79,2,144,2023-06-21,0.98,1,0,25,NaN
10,108349,Townhouse in San Diego · ★4.75 · 3 bedrooms · ...,546519,Juliana,NaN,Pacific Beach,32.79783,-117.25416,Entire home/apt,526,6,162,2022-06-28,1.13,2,298,1,"STR-00365L, 520053"
11,126344,Home in San Diego · ★4.71 · 3 bedrooms · 6 bed...,546519,Juliana,NaN,Pacific Beach,32.80751,-117.25728,Entire home/apt,673,6,197,2023-06-05,1.39,2,286,16,"STR-00366L, 520229"
12,132966,Rental unit in San Diego · ★4.80 · Studio · 1 ...,555739,Rosana,NaN,La Jolla,32.80934,-117.25913,Entire home/apt,95,31,36,2023-01-21,0.28,1,269,4,NaN
13,149548,Home in San Diego · ★4.93 · 1 bedroom · 1 bed ...,721326,Olivia,NaN,Bay Park,32.79993,-117.20067,Private room,78,3,243,2023-06-23,1.68,2,131,26,NaN
14,165967,Guest suite in San Diego · ★4.98 · Studio · 1 ...,790976,Mike,NaN,West University Heights,32.75314,-117.15142,Entire home/apt,141,3,691,2023-06-20,4.77,2,198,50,"STR-01893L, 519224"

In [5]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [6]:
airbnb_df = df[["neighbourhood", "latitude", "longitude", "room_type", "price"]]
airbnb_df

         neighbourhood   latitude   longitude        room_type  price
0          North Hills  32.755220 -117.128730  Entire home/apt    349
1        Pacific Beach  32.807510 -117.257600  Entire home/apt    286
2             La Jolla  32.813010 -117.268560  Entire home/apt    196
3        Pacific Beach  32.805830 -117.242440  Entire home/apt     99
4        Pacific Beach  32.806210 -117.233720  Entire home/apt    114
...                ...        ...         ...              ...    ...
12196             Core  32.718861 -117.158751  Entire home/apt    152
12197  Clairemont Mesa  32.806893 -117.168541  Entire home/apt    186
12198    Pacific Beach  32.800856 -117.255359  Entire home/apt    140
12199   Allied Gardens  32.797100 -117.094438  Entire home/apt    408
12200     East Village  32.720777 -117.155181  Entire home/apt    130

[12201 rows x 5 columns]

In [7]:
unique = airbnb_df["room_type"].unique()
unique

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)

In [8]:
entire_home_df = airbnb_df.drop(airbnb_df[airbnb_df['room_type'] != 'Entire home/apt'].index)
entire_home_df

         neighbourhood   latitude   longitude        room_type  price
0          North Hills  32.755220 -117.128730  Entire home/apt    349
1        Pacific Beach  32.807510 -117.257600  Entire home/apt    286
2             La Jolla  32.813010 -117.268560  Entire home/apt    196
3        Pacific Beach  32.805830 -117.242440  Entire home/apt     99
4        Pacific Beach  32.806210 -117.233720  Entire home/apt    114
...                ...        ...         ...              ...    ...
12196             Core  32.718861 -117.158751  Entire home/apt    152
12197  Clairemont Mesa  32.806893 -117.168541  Entire home/apt    186
12198    Pacific Beach  32.800856 -117.255359  Entire home/apt    140
12199   Allied Gardens  32.797100 -117.094438  Entire home/apt    408
12200     East Village  32.720777 -117.155181  Entire home/apt    130

[10352 rows x 5 columns]

In [9]:
entire_home_df = entire_home_df.reset_index()
entire_home_df = entire_home_df.drop(columns= ['index'])
entire_home_df

         neighbourhood   latitude   longitude        room_type  price
0          North Hills  32.755220 -117.128730  Entire home/apt    349
1        Pacific Beach  32.807510 -117.257600  Entire home/apt    286
2             La Jolla  32.813010 -117.268560  Entire home/apt    196
3        Pacific Beach  32.805830 -117.242440  Entire home/apt     99
4        Pacific Beach  32.806210 -117.233720  Entire home/apt    114
...                ...        ...         ...              ...    ...
10347             Core  32.718861 -117.158751  Entire home/apt    152
10348  Clairemont Mesa  32.806893 -117.168541  Entire home/apt    186
10349    Pacific Beach  32.800856 -117.255359  Entire home/apt    140
10350   Allied Gardens  32.797100 -117.094438  Entire home/apt    408
10351     East Village  32.720777 -117.155181  Entire home/apt    130

[10352 rows x 5 columns]

In [10]:
entire_home_numbered_df = entire_home_df.reset_index()
entire_home_numbered_df = entire_home_numbered_df.rename(columns = {"index": "id"})
entire_home_numbered_df

          id    neighbourhood   latitude   longitude        room_type  price
0          0      North Hills  32.755220 -117.128730  Entire home/apt    349
1          1    Pacific Beach  32.807510 -117.257600  Entire home/apt    286
2          2         La Jolla  32.813010 -117.268560  Entire home/apt    196
3          3    Pacific Beach  32.805830 -117.242440  Entire home/apt     99
4          4    Pacific Beach  32.806210 -117.233720  Entire home/apt    114
...      ...              ...        ...         ...              ...    ...
10347  10347             Core  32.718861 -117.158751  Entire home/apt    152
10348  10348  Clairemont Mesa  32.806893 -117.168541  Entire home/apt    186
10349  10349    Pacific Beach  32.800856 -117.255359  Entire home/apt    140
10350  10350   Allied Gardens  32.797100 -117.094438  Entire home/apt    408
10351  10351     East Village  32.720777 -117.155181  Entire home/apt    130

[10352 rows x 6 columns]

In [11]:
entire_home_numbered_df.to_csv("../Resources/Airbnb Locations.csv", index=False, header=True)